@import "../../styles.scss";

.social-icon {
    display: inline-flex;
    font-size: 36px;
    line-height: 40px;
    vertical-align: -10px;
}

.ff-form {
    mat-form-field {
        width: 100%;
    }
}

.ff-card-container {
    min-height: 750px;
}

.ff-card {
    display: flex; 
    justify-content: center;
}
