@import "../../styles.scss";

.social-icon {
    display: inline-flex;
    font-size: 36px;
    line-height: 40px;
    vertical-align: -10px;
}

.social-link {
    color: $ff-turqoise-text;
}

.ff-form {
    mat-form-field {
        width: 100%;
    }
}

::ng-deep .mat-form-field-wrapper {
    margin-right: 18px;
}