<div class="container">
    <div class="margin-top-30"></div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" >
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" >
            <div class="ff-card-container">
                <h1>Contact Info</h1>         
                <p>
                    Mauris id mauris luctus odio consequat bibendum. Praesent malesuada erat velit, non convallis ex vehicula nec. Aliquam consequat dignissim volutpat. Morbi rhoncus sem consectetur dolor faucibus interdum. 
                </p>
                
                <div fxLayout="row wrap" class="ff-card">
                    <div fxFlex="30%" fxFlex.md="48%" fxFlex.sm="33%" fxFlex.xs="100%" class="ff-card" style="margin: 8px 8px 8px 8px" >
                        <mat-card class="container-1x1" style="border: 1px solid #c4c4c4;"></mat-card>
                    </div>
                    <div fxFlex="30%" fxFlex.md="48%" fxFlex.sm="33%" fxFlex.xs="100%" class="ff-card" style="margin: 8px 8px 8px 8px" >
                        <mat-card class="container-1x1" style="border: 1px solid #c4c4c4;"></mat-card>
                    </div>
                    <div fxFlex="30%" fxFlex.md="48%" fxFlex.sm="33%" fxFlex.xs="100%" class="ff-card" style="margin: 8px 8px 8px 8px" >
                        <mat-card class="container-1x1" style="border: 1px solid #c4c4c4;"></mat-card>
                    </div>
                </div>
                
                
                <div class="margin-top-30"></div>
                <div fxLayout="row wrap" fxLayoutGap="16px grid" >
                    <div fxFlex="100%">
                        <div fxLayout="row wrap">
                            <div fxFlex="50%" fxFlex.xs="100%">
                                <div class="nowrap">
                                    <p>
                                        <mat-icon class="social-icon">poll</mat-icon>
                                        <span class="margin-left-30 social-link">@ff.foundry</span>
                                    </p>
                                </div>
                                <div class="nowrap">
                                    <p>
                                        <mat-icon class="social-icon">poll</mat-icon>
                                        <span class="margin-left-30 social-link">@ff.foundry</span>
                                    </p>
                                </div>    
                            </div>
                            <div fxFlex="50%" fxFlex.xs="100%">
                                <div class="nowrap">
                                    <p>
                                        <mat-icon class="social-icon">poll</mat-icon>
                                        <span class="margin-left-30 social-link">@ff.foundry</span>
                                    </p>
                                </div>
                                <div class="nowrap">
                                    <p>
                                        <mat-icon class="social-icon">poll</mat-icon>
                                        <span class="margin-left-30 social-link">@ff.foundry</span>
                                    </p>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <!-- <div fxFlex="100%" class="socials">
                        <h1>Video Title</h1>
                        <div class="text-center" class="ff-card">
                            <video controls width="100%" >
                                <source src="../../assets/FF SUPER ULTRA MEGA FINAL FINAL.mp4" type="video/mp4">
                            </video> 
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <div class="ff-card-container">
                <h1>Contact Form</h1>
                <div fxLayout="row wrap" fxLayoutGap="4px grid" class="ff-form">
                    <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput value="">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field appearance="fill">
                            <mat-label>Surname</mat-label>
                            <input matInput value="">
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput value="">
                        </mat-form-field>
                    </div>
                    <div fxFlex="20%" fxFlex.md="20%" fxFlex.sm="20%" fxFlex.xs="100%">
                        <mat-form-field appearance="fill">
                            <mat-label>Temp20%</mat-label>
                            <input matInput value="">
                        </mat-form-field>
                    </div>
                    <div fxFlex="80%" fxFlex.md="80%" fxFlex.sm="80%" fxFlex.xs="100%">
                        <mat-form-field appearance="fill">
                            <mat-label>Temp80%</mat-label>
                            <input matInput value="">
                        </mat-form-field>
                    </div>                    
                    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                        <mat-form-field appearance="fill">
                            <mat-label>Category</mat-label>
                            <mat-select>
                                <mat-option>
                                    Design
                                </mat-option>
                                <mat-option>
                                    Create
                                </mat-option>
                                <mat-option>
                                    Other
                                </mat-option>
                                <mat-option>
                                    Even Otherer
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                        <mat-form-field appearance="fill">
                            <mat-label>Details</mat-label>
                            <textarea rows="15" matInput value=""></textarea>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%" class="text-right">    
                        <button mat-raised-button color="primary" style="width: 20%; height: 120%">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
