<!-- Toolbar -->
<div class="toolbar" role="banner">
</div>

<div class="content" role="main">
  <!-- Change to z1 when scrolled -->
  <mat-toolbar class="ff-nav mat-elevation-z6">
    <button mat-fab class="ff-fab-left">
      <img src="../assets/logo/Icon Solid Honey light.png" class="fflogo">
    </button>
    <span class="toolbar-spacer"></span>
    <button mat-flat-button [ngClass]="{ 'ff-nav-route': route != 'gallery', 'ff-nav-route-active': route == 'gallery' }">gallery</button>
    <button mat-flat-button [ngClass]="{ 'ff-nav-route': route != 'design', 'ff-nav-route-active': route == 'design' }">design</button>
    <button mat-flat-button [ngClass]="{ 'ff-nav-route': route != 'contact', 'ff-nav-route-active': route == 'contact' }">contact</button>
    <span class="toolbar-spacer"></span>
    <button mat-fab class="ff-fab-right">
      <img src="../assets/icons/Burger.png" class="ffburger">
    </button>
</mat-toolbar>
  

  <router-outlet></router-outlet>
  <!-- Footer -->
  <footer>
    
  </footer>
</div>
