$ff-honey-text: #ffe4b2; 
$ff-honey-text-dark: #ffd27f;
$dark-bg: #484848;
$darker-bg: #424242;

.toolbar-spacer {
    flex: 1 1 auto;
}

.ff-toolbar-space {
    height: 64px;
}

.ff-footer {
    margin-top: 10px;
    height: 64px;
    background-color: $darker-bg;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.ff-nav {
    height: 64px;
    background-color: $darker-bg;
    position: fixed;
    z-index: 99;
    
    .ff-fab-left {
        height: 50px;
        width: 50px;
        left: 12px;
        background-color: $darker-bg;
    }

    .ff-fab-right {
        height: 50px;
        width: 50px;
        right: 12px;
        background-color: $darker-bg;
    }

    .fflogo {
        height: 30px;
        width: 30px;
        filter: invert(82%) sepia(33%) saturate(623%) hue-rotate(339deg) brightness(103%) contrast(101%) drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.4));
    }
    
    .ffburger {
        height: 19.58px;
        width: 30px;
        filter: invert(82%) sepia(33%) saturate(623%) hue-rotate(339deg) brightness(103%) contrast(101%) drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.4));
    }

    .ff-nav-route-active {
        background-color: transparent;
        color: $ff-honey-text-dark;
        
        font-family: 'LaUnica';
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;

        height: 100%;
        border-bottom: 3px solid $ff-honey-text-dark;
        border-radius: 0px;
    }
    
    .ff-nav-route {
        background-color: transparent;
        color: $ff-honey-text;

        font-family: 'AlleyGarden';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 44px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .ff-nav-route:hover {
        text-decoration-line: underline;
    }
}