
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss\
$ff-honey-text: #ffe4b2; 
$ff-honey-text-dark: #ffd27f;
$dark-bg: #484848;

$ff-honey: (
  50: #fff4e0,
  100: #ffe4b2,
  200: #ffd27f,
  300: #ffc04a,
  400: #ffb11f,
  500: #ffa400,
  600: #fd9700,
  700: #f78700,
  800: #f27700,
  900: #ea5d00,
  A100: #ffd27f,
  A200: #ffd27f,
  A400: #ffd27f,
  A700: #ffd27f,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$ff-turqoise: (
  50: #def2f2,
  100: #acdfde,
  200: #73cac9,
  300: #2cb5b3,
  400: #00a5a1,
  500: #00958f,
  600: #008881,
  700: #007870,
  800: #006860,
  900: #004c43,
  A100: #2CB5B3,
  A200: #2CB5B3,
  A400: #2CB5B3,
  A700: #2CB5B3,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FirebirdFrankieFoundryWebsite-primary: mat-palette($ff-turqoise, 300, 100, 700);
$FirebirdFrankieFoundryWebsite-accent: mat-palette($ff-honey, 200, 100, 300);

// The warn palette is optional (defaults to red).
$FirebirdFrankieFoundryWebsite-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FirebirdFrankieFoundryWebsite-theme: mat-dark-theme((
  color: (
    primary: $FirebirdFrankieFoundryWebsite-primary,
    accent: $FirebirdFrankieFoundryWebsite-accent,
    warn: $FirebirdFrankieFoundryWebsite-warn,
  )
));

$FirebirdFrankieFoundryWebsite-background-color: #628cc9;

$background: map-get($FirebirdFrankieFoundryWebsite-theme, background);
$background: map_merge($background, (background: $FirebirdFrankieFoundryWebsite-background-color));
$theme: map_merge($FirebirdFrankieFoundryWebsite-theme, (background: $background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($FirebirdFrankieFoundryWebsite-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "LaUnica";
  src: url("./assets/fonts/launica.ttf") format("truetype");
}

@font-face {
  font-family: "AlleyGarden";
  src: url("./assets/fonts/AlleyGarden-K7WvD.otf") format("opentype");
}

@font-face {
  font-family: "Josefin";
  src: url("./assets/fonts/JosefinSansLight-ZVEll.ttf") format("opentype");
}

html, body { 
  height: 100%;
  background-color: $dark-bg;
  color: $ff-honey-text;
}

p {
  font-family: 'Josefin' !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 25px;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1 {
  background-color: transparent;
  color: $ff-honey-text-dark;
  
  font-family: 'LaUnica';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 35px;
  text-align: center;
  text-decoration-line: underline;

  margin-bottom: 25px;
}

h2 {
  background-color: transparent;
  color: $ff-honey-text;

  font-family: 'AlleyGarden';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

.container {
  margin-left: 30px; 
  margin-right: 30px;
}

.ff-nav .mat-button-wrapper {
  padding: 0 !important;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}